# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files/pictures
sites/*/files/styles
sites/*/private
docs_out/*
docs_in/*
/nbproject/private/